<header><font size="10">Tiny App.</font></header>
<br>

<% if (!username) { %>
<form method="POST" action="/login">
  <input type="text" name="username" placeholder="Username">
  <button type="submit"> Login </button>
</form>
<% } else { %>
<h4> <%= username %> </h4>
<form method="POST" action="/logout">
  <button type="submit"> Logout </button>
</form>
<% } %>