<!DOCTYPE html>
<html>
<% include ./partials/_head %>

<body>
  <header><% include ./partials/_header %></header>
  <form method="POST" action="/register" style="margin:150px;">
    E-mail: <input type="email" name="email">
    Password: <input type="password" name="password">
    <button type="submit"> GIVE ME YOUR INFORMATIONS </button>
  </form>
</body>

</html>

