<!DOCTYPE html>
<html lang="en">
<head><% include ./partials/_head %></head>

<body>
  <header><% include ./partials/_header %></header>


  <ul>
    <% for (var shortURL in urls) { %>
    <li><%= shortURL %> - <%= urls[shortURL] %> </li>
    <% }; %>
  </ul>

  <a href='#'> New link for shortening URLs </a>

</body>
</html>