<!DOCTYPE html>
<html lang="en">
<head><% include ./partials/_head %></head>

<body>
  <header><% include ./partials/_header %></header>


  <ul>
    <% for (var shortURL in urls) { %>
    <li><%= shortURL %> - <%= urls[shortURL] %> </li>
    <form method="POST" action="/urls/<%=shortURL%>/delete">
      <button><a href="/urls/<%=shortURL%>">Edit</a></button>
      <button type="submit"> Delete </button>
    </form>
    <% }; %>
  </ul>


  <button><a href="/urls/new"> Shorten a New URL Here </a></button>

</body>
</html>