<!DOCTYPE html>
<html lang="en">
  <% include ./partials/_head %>

<body style="font-size:20px; padding:50px;">
  <% include ./partials/_header %>

  <h1> Short URLs: </h1>

  <form  method="POST" action="/urls/<%= shortURL %>" style="margin:150px;">
      <input name="longURL" type="text" placeholder="Update your URL here" style="width: 300px">
      <input type="submit" value="Update">
  </form>



</body>
</html>